{% extends "AppHospitalV/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <h1>Especialidades</h1>
    <p>A continuación, encontrarás nuestras especialidades, tanto para adultos como para niños:

        - Alergología
        - Anestesiología
        - Angiología
        - Cardiología
        - Cirugia
        - Dermatologia
        - Endocrinología
        - Gastroenterología
        - Genética
        - Ginecologia y Obstetricia
        - Hematología
        - Hepatología
        - Infectología
        - Medicina del deporte
        - Medicina familiar y comunitaria
        - Medicina física y rehabilitación
        - Medicina interna
        - Medicina del trabajo
        - Nefrología
        - Neumología
        - Neurología
        - Oftalmologia
        - Oncología
        - Otorrinolaringologia
        - Pediatría
        - Psiquiatría
        - Reumatología
        - Traumatologia y Ortopedia
        - Urologia
       
    </p>


{% endblock %}
