{% extends "AppHospitalV/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <h1>Acerca de nosotros</h1>
    <p>
        
        Somos un Hospital de Alta Complejidad que se empeña en brindar la más alta calidad y seguridad en los cuidados de salud, situando las necesidades del paciente y su familia en el centro de nuestra atención, integrando la asistencia con la educación e investigación biomédica, y que busca vivir y transmitir valores humanos.
        
    </p>


{% endblock %}
